body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
/*esta parte é a secção em amarelo*/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

/*para o logotipo*/
#logo-img {
	background: url("../images/restaurant-logo_large.png") no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

/*este é para o texto com a marca*/
.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size:  1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222; /*adicionar sombra ao texto*/
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75; /*altura do texto e espaçamento entre linhas*/
}

/*isto é quando passamos o rato na marca*/
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/*este é para o texto da certificação*/
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

/*para alinhar o texto com a marca*/
.navbar-brand p span {
	vertical-align: middle;
}

/*isto serve para o menu primeiro uma margem depois cir e um alinhamento do textodepois o background quando se passa o rato e o tamanho da fonte*/
#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #951C49;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}/*aqui é o numero de telefone e o respetivo texto*/

#phone {
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0;
}

#phone div {
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}

/*este é para dar uma cor ao botão do menu em modo mobile*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

/*para garantir que o espaço em amarelo na parte do mobile engloba todo o texto e para diminuir a fonte e a parte amarela no modo mobile*/
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
/*END HEADER*/

/*FOOTER*/
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer div.row {
	margin-bottom: 35px;
}

#hours, #address {
	line-height: 2;
}

#hours > span, #address > span {
	font-size: 1.3em;
}

#address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}

#testimonials {
	font-style: italic;
}

#testimonials p:nth-child(2) {
	margin-top: 25px;
}
/*END FOOTER*/

/*MAIN CONTENT*/
.container .jumbotron { /*tudo o que está dentro desta classe é para a iamagem do restaurante*/
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;	
}


#menu-title, #special-title, #map-title {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}

#menu-title:hover, #special-title:hover, #map-title:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

/*ao usar esta tecnica da posição do fundo para imagens pequenas permite que nao precisemos de diferentes imagens para diferentes tamanhos*/
#menu-title {
	background: url("../images/menu-tile.jpg") no-repeat;
	background-position: center;
}

#special-title {
	background: url("../images/specials-tile.jpg") no-repeat;
	background-position: center;

}

#menu-title span, #special-title span, #map-title span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000; /*black*/
	color: #fff; /*white*/
	opacity: .8;
}

/*END MAIN CONTENT*/

/*MENU CATEGORIES PAGE*/
.category-title {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}

.category-title span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

.category-title:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div { /*representa o div a seguir ao h2 com o id*/
	margin-bottom: 50px;
}
/*END MENU CATEGORIES PAGE*/

/*SINGLE CATEGORY PAGE*/
.menu-item-tile {
	margin-bottom: 25px;
}

.menu-item-tile hr {
	width: 80%;
}

.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}

.menu-item-tile .menu-item-price span {
	font-size: .6em;
}

.menu-item-photo {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px; /*estes dois servem para separar a foto do texto*/
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px; /*como usamos o image responsive queremos que a imagem estique demasiado*/
}

.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}

.menu-item-description {
	padding-right: 30px;
}

h3.menu-item-title {
	margin: 0 0 10px;
}

.menu-item-details {
	font-size: .9em;
	font-style: italic;
}

/*END SINGLE CATEGORY PAGE*/

@media (min-width: 1200px) {
	.container .jumbotron {
		background: url("../images/jumbotron_1200.jpg") no-repeat;
		height: 675px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	/*para diminuir o logo vamos substituir por um logo mais pequeno*/
	#logo-img {
		background: url("../images/restaurant-logo_medium.png") no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}

	.jumbotron {
		background: url("../images/jumbotron_992.jpg") no-repeat;
		height: 558px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron {
		background: url("../images/jumbotron_768.jpg") no-repeat;
		height: 432px;
	}
}

@media (max-width: 767px) {
	/*HEADER*/
	/*este é para melhorar o header no tamanho pequeno primeiro diminuimos o padding da marca e fixámos uma altura para não colapsar*/
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	/*diminuimos o padding e o font-size da marca*/
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw; /* 1vw = 1% da largura do viewport e como é uma medida relativa vai aumentando e dominuindo conforme o ecrã */
	}
	/*Kosher cert*/
	.navbar-brand p {
		font-size: .6em;
		margin-top: 12px;
	}
	/*star-k*/
	.navbar-brand p img {
		height: 20px;
	}

	/*para aumentar as letras dos menus*/
	#collapsable-nav a {
		font-size: 1.2em;
	}
	/*para que o simbolo seja igual ao texto*/
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	/*botão com o numero no modo mobile*/
	#call-btn > a {
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #f6b319;
		color: #951c49;
	}
	/*texto a dizer we deliver*/
	#xs-deliver {
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	/*END HEADER*/

	/*FOOTER*/
	.panel-footer section {
		margin-bottom: 30px;
		text-align: center;
	}

	.panel-footer section:nth-child(3) { /*porque a barra já tem margem*/
		margin-bottom: 0;
	}

	.panel-footer section hr { /*para a barra*/
		width: 50%;
	}
	/*END FOOTER*/

	/*imagem de fundo para o telemovel*/
	/*MAIN CONTENT*/
	.container .jumbotron {
		margin-top: 30px;
		padding: 0;

	}
	/*para garantir que o bordo fica ajustado às imagens*/
	#menu-title, #special-title {
		width: 360px;
		margin: 0 auto 15px auto;
	}
	/*END MAIN CONTENT*/

	/*SINGLE CATEGORY PAGE*/
	.menu-item-photo {
		margin-right: auto;
	}

	.menu-item-tile .menu-item-price {
		text-align: center;
	}

	.menu-item-description {
		text-align: center;
	}
	/*END SINGLE CATEGORY PAGE*/
}

@media (max-width: 479px) {
	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}
	#menu-title, #special-title {
		width: 280px;
		margin: 0 auto 15px auto;
	}

	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}

